<log4net debug="true" >
  <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender" >
    <threshold value="ALL"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%level] ?te %logger - %message" />
    </layout>
  </appender>

  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="testApi.log"/>
    <threshold value="ALL"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
    </layout>
  </appender>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="Console"/>
  </root>
  <logger name="Logger">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
    <appender-ref ref="Console"/>
  </logger>
</log4net>